*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
.anhB1 {
    width: 100%;
}
.wrapper {
    width: 100%;
    height: 3000px;
}
.wrapper > header {
    width: 100%;
    height: 50px;
}
.wrapper > header > a> img {
    float: left;
    width: 250px;
    
}
.wrapper > header > .nav.navbar-nav.navbar-right {
    float: right;
    margin-top: 30px;
}
.wrapper > header > .nav.navbar-nav.navbar-right > li:nth-child(1),
.wrapper > header > .nav.navbar-nav.navbar-right > li:nth-child(2),
.wrapper > header > .nav.navbar-nav.navbar-right > li:nth-child(3),
.wrapper > header > .nav.navbar-nav.navbar-right > li:nth-child(4) {
    width: 90px;
}
.anhH4 {
    width: 50px;
}
.dropdown-menu {
    display: block;
    position: absolute;
    top: 500px;
    right: 90px;
}
/* phần sidebar */
.sidebar{
    width: 15%;
    float: right;
    position: absolute; 
    top: 100px;
    right: 0px;
    background-color: black;
    display: none;
}
.sidebar ul li {
    padding: 10px;
    border-bottom: 2px solid lightskyblue;
    margin: 10px;
    text-align: center;
    list-style: none;
}

.tongB{
    width: 100%;
}
.content{
    width: 100%;
    float: left;
}
#account {
    text-align: center;
    
}
 #btnSignUp ,#btnSignIn{
    background-color: black;
    color: aliceblue;
}
.modal-body button{
    margin: auto;
    width: 100px;
    height: 30px;
}
.modal-header h2{
    text-align: center;
}
/* account */
.tongB .content form {
    padding: 0;
    margin: 0 auto;
}
span {
    color: red;
    font-size: 14px;
}